{% extends 'layout.html.twig' %}

{% block javascripts %} 
   <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
   
  <script language = "javascript">  
    $(document).ready(function(){   

      $('.modifier').on('click', function (e) {

        var url = $(this).attr('data-url');
        var type = $(this).attr('data-type');
        var html = $(this).attr('data-html');

        $.ajax({  
          url:        url,  
          type:       'get',
        })   
        .done(function(data, status) {
          $('body').html(data);
        }); 
      }); 

      $('#post').on('click', function (e) {
          $.ajax({  
          url:         '/silexProject/produits/new/',  
          type:       'get',
        })   
        .done(function(data, status) {
            $('body').html(data);
        }); 
      }); 

      $('.delete').on('click', function (e) {

        var url = $(this).attr('data-url');

        $.ajax({  
            url:        url,  
            type:       'delete',
        })   
        .done(function(data, status) {
            $.ajax({  
                url:  '/silexProject/produits/',  
                type: 'get',
            })   
            .done(function(data, status) {
                $('body').html(data);
            }); 
          }); 
        }); 


    });  
   </script> 
{% endblock %}  

{% block content %}

 <input id="post" type="button"  value="Ajouter un produit">

  {% if produits %}
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Id Produit</th>
            <th>Libelle Produit</th>
            <th>Prix Unitaire</th>
            <th>Reference</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {%  for produit in produits %}
          <tr>
            <td><a class="modifier"  data-url="/silexProject/produits/{{ produit.id_produit }}" href="#">{{ produit.id_produit }}</a></td>
            <td><a class="modifier" data-url="/silexProject/produits/{{ produit.id_produit }}"  href="#">{{ produit.libelle }}</a></td>
            <td>{{ produit.prix_unitaire }}</td>
            <td><a class="modifier" data-url="/silexProject/produits/{{ produit.id_produit }}"  href="#">{{ produit.reference }}</a></td>
            <td>
                <input class="modifier"  type="button" data-url="/silexProject/produits/{{ produit.id_produit }}"  class="btn btn-sm btn-success" value="Modifier">
                <input class="delete" type="button" data-url="/silexProject/produits/{{ produit.id_produit }}"  class="btn btn-sm btn-danger" value="Delete">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Articles yok</p>
  {% endif %}

{% endblock %}